@model FFbasEDataEF.STUDENT

@{
    ViewBag.Title = "Delete";
}

<h2>Удаление</h2>

<h3>Вы действительно хотите удалить студента ?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.S_C)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CLIENT.C_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.S_CL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COURSE_OF_LECTURE.CL_THEME)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("Вернуться к списку", "Index")
        </div>
    }
</div>
